@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    font-size: 62.5%;
    background-color: var(--bodyBG);
    font-family: 'Raleway', sans-serif;
}
/* Color */
:root{
    --primary: #009688;
    --bg: #383838;
    --txt_color: #fff;
    --bodyBG: #292929;
}
/* ========================== */
nav label {
    
}
nav>input[type="checkbox"]{
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: none;
}
nav>label{
    position: absolute;
    top: 3rem;
    right: 1rem;
    z-index: 11;
    animation: spinner .8s ease infinite forwards 0s;
    color: var(--primary);
}
/* ==========================*\
        Spinner Animation start
|*============================*/
@keyframes spinner{
    100%{
        transform: rotate(360deg);
    }
}
/* ==========================*\
        Spinner Animation End
|*============================*/
nav>label>#fa-cog{
font-size: 3.5rem;
cursor: pointer;

}
nav ul{
    background-color: var(--bg);
    display: inline-block;
    padding: 2rem 3rem;
    position: fixed;
    top: 3rem;
    right: 5.5rem;
    z-index: 10;
    transform: translateX(150%);
    transition: transform 250ms ease-in-out;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.281);
}
nav ul li{
    list-style: none;
    padding: 2rem;
}
nav ul li a{
    color: var(--txt_color);
    text-decoration: none;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color .1s ease-in;
    text-transform: uppercase;
}
nav ul li a.selected,nav ul li a:hover{
    color: var(--primary);
}
nav ul li a i{
    margin-right: 1rem;
}
#checkToggler:checked ~ #sideMenu{
    transform: translateX(0);
}
/* ==========================*\
        Navegation end
|*============================*/
.home-content{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
}
.home-content ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}
.home-content ul li{
    background-color: var(--primary);
    position: absolute;
    display: block;
    list-style: none;
    animation: boxAnimation 25s linear infinite;
    transform: translateY(80rem);
}
.home-content li:nth-child(1){
    left: 25%;
    width: 8rem;
    height: 8rem;
    animation-delay: 0s;
}
.home-content li:nth-child(2){
    left: 10%;
    width: 2rem;
    height: 2rem;
    animation-delay: 2s;
    animation-duration: 12s;
}
.home-content li:nth-child(3){
    left: 70%;
    width: 2rem;
    height: 2rem;
    animation-delay: 4s;
}
.home-content li:nth-child(4){
    left: 40%;
    width: 6rem;
    height: 6rem;
    animation-delay: 0s;
    animation-duration: 18s;
}
.home-content li:nth-child(5){
    left: 65%;
    width: 2rem;
    height: 2rem;
    animation-delay: 0s;
}
.home-content li:nth-child(6){
    left: 75%;
    width: 11rem;
    height: 11rem;
    animation-delay: 3s;
}
.home-content li:nth-child(7){
    left: 35%;
    width: 15rem;
    height: 15rem;
    animation-delay: 7s;
}
.home-content li:nth-child(8){
    left: 50%;
    width: 2.5rem;
    height: 2.5rem;
    animation-delay: 15s;
    animation-duration: 45s;
}
.home-content li:nth-child(9){
    left: 20%;
    width: 1.5rem;
    height: 1.5rem;
    animation-delay: 2s;
    animation-duration: 35s;
}
.home-content li:nth-child(10){
    left: 85%;
    width: 15rem;
    height: 15rem;
    animation-delay: 0s;
    animation-duration: 11s;
}
/* ================================*\
        Box Animation
\*================================ */
@keyframes boxAnimation {
    100%{
        transform: translateY(-20rem) rotate(720deg);
        border-radius: 50%;
        opacity: 0;
    }
}
/* ====================================== */
/* Dotted creation with ---background: radial-gradient(circle at center, #ff5722 10%, transparent 20%), transparent; */
.bg-dotted{
    background: radial-gradient(circle at center, var(--primary) 10%, transparent 20%), transparent;
    background-size: 19px 18px;
    height: 30rem;
    width: 26rem;
    transform: rotate(45deg);
    position: absolute;
    top: -15rem;
    left: -12rem;
}
/* =========Dotted background end============= */
/* ==========Main content start================= */
.main-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-content .first-header{
    font-size: 5rem;
    font-weight: 400;
    color: var(--txt_color);
    position: relative;
    left: -19.5rem;
}
.main-content .own_name{
    font-size: 19rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    margin-top: -5rem;
    background-image: url(./images/back.png);
    background-repeat: no-repeat;
    background-size: 63rem 22rem;
    background-position: 0 6rem;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px var(--txt_color);
    animation: textAmination 3s linear infinite forwards;
}
@keyframes textAmination {
    100%{
        background-position: 20rem 0;
    }
}
.main-content h5{
    position: relative;
    left: -10rem;
    color: var(--txt_color);
    font-size: 2rem;
}
/* ==============Main content animation done============= */